.landing {
  background-color: #c4ddf9;
  width: 100%;
  display: flex;
  height: 92vh;

}

.welcome {
  font-weight: 300;
  margin: 0;
  padding-left: 100px;
  text-align: left;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  max-width: 100%;
  text-align: right;


}

.image-container img {
  width: 555px;


}


.intro-container {
  display: flex;
  align-items: center;
  /* This will vertically align the items in the center, remove it if not needed */
  gap: 20px;
  /* This will put 20px of gap between your text and image */
  flex-direction: column;
  justify-content: center;


}


.image-container {
  flex: 1;
  text-align: center;
  /* This will divide the space equally between your text and image */
}



.landing {
  display: flex;
  flex-wrap: wrap;
  /* Optional, it allows items to wrap onto multiple lines */
}

.landing .intro-container,
.landing .image-container {
  flex-basis: 50%;
}

body {
  font-family: 'Akatab';

}

h1 {
  font-family: 'Paytone One';
  color: #2a4ed8;
  font-size: 75px;
  padding-left: 100px;
  padding-top: 0px;
}

.navbar a {
  font-family: 'Akatab';
  font-size: 16px;
}

.navbar-brand {
  font-family: 'Akatab';
}

.intro-container h1,
.intro-container p {
  margin: 0;
}



@media (max-width: 991px) {
  .landing {
    flex-direction: column-reverse;
  }

  .intro-container {
    display: block;
  }

  .image-container img {
    width: 300px;
    margin-top: 90px;
  }

  .landing .intro-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 0;
    flex-grow: 6;
    flex-basis: 0;
    margin-top: 40px;
  }

  .landing .image-container {
    flex-grow: 4;
    flex-basis: 0;
  }

  h1 {
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
  }

  .welcome {
    padding-left: 25px;
    font-size: 15px;
    padding-right: 25px;
  }

  .intro-container .button-container {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px;
  }

  .intro-container .button-container .button1,
  .intro-container .button-container .button2 {
    width: 80%;
    margin: 0 auto;
  }
  .button1 {
    margin-top: 18px !important; /* adjust this value as needed */
    margin-bottom: 4px !important; /* adjust this value as needed */
  }
  .button2 {
    margin-top: 4px !important; /* adjust this value as needed */
    margin-bottom: 0px !important; /* adjust this value as needed */
  }
}


.button1 {
  background-color: #2a4ed8;
  color: white;
  padding: 10px 20px;
  /* Adjust these values to change the button size */
  border: none;
  /* Remove the default button border */
  border-radius: 5px;
  /* Optional: give the buttons rounded corners */
  cursor: pointer;
  /* Change the cursor when hovering over the buttons */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: transform 0.2s ease;
  /* Optional: add a transition effect when hovering over the buttons */
}

.button2 {
  background-color: white;
  color: #2a4ed8;
  padding: 10px 20px;
  /* Adjust these values to change the button size */
  border: none;
  /* Remove the default button border */
  border-radius: 5px;
  /* Optional: give the buttons rounded corners */
  cursor: pointer;
  /* Change the cursor when hovering over the buttons */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: transform 0.2s ease;
  /* Optional: add a transition effect when hovering over the buttons */
}

.button1:active {
  transform: scale(0.96);
}

.button2:active {
  transform: scale(0.96);
}
 .button1, .button2 {
    margin-top: 10px; /* adjust this value as needed */
    margin-bottom: 10px; /* adjust this value as needed */
  }