.mobile {
  display: none;
}

.landing {
  background-color: #c4ddf9;
  width: 100%;
  display: flex;
  height: 92vh;

}

.welcome {
  font-weight: 300;
  margin: 0;
  padding-left: 100px;
  text-align: left;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  max-width: 100%;
  text-align: right;


}

.image-container img {
  width: 555px;


}


.intro-container {
  display: flex;
  align-items: center;
  /* This will vertically align the items in the center, remove it if not needed */
  gap: 20px;
  /* This will put 20px of gap between your text and image */
  flex-direction: column;
  justify-content: center;


}


.image-container {
  flex: 1;
  text-align: center;
  /* This will divide the space equally between your text and image */
}



.landing {
  display: flex;
  flex-wrap: wrap;
  /* Optional, it allows items to wrap onto multiple lines */
}

.landing .intro-container,
.landing .image-container {
  flex-basis: 50%;
}

body {
  font-family: 'Akatab';

}

h1 {
  font-family: 'Paytone One';
  color: #2a4ed8;
  font-size: 75px;
  padding-left: 100px;
  padding-top: 0px;
}

.navbar a {
  font-family: 'Akatab';
  font-size: 16px;
}

.navbar-brand {
  font-family: 'Akatab';
}

.intro-container h1,
.intro-container p {
  margin: 0;
}



.button1 {
  background-color: #2a4ed8;
  color: white;
  padding: 10px 20px;
  /* Adjust these values to change the button size */
  border: none;
  /* Remove the default button border */
  border-radius: 5px;
  /* Optional: give the buttons rounded corners */
  cursor: pointer;
  /* Change the cursor when hovering over the buttons */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: transform 0.2s ease;
  /* Optional: add a transition effect when hovering over the buttons */
}

.button2 {
  background-color: white;
  color: #2a4ed8;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  /* Optional: give the buttons rounded corners */
  cursor: pointer;
  /* Change the cursor when hovering over the buttons */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: transform 0.2s ease;
  /* Optional: add a transition effect when hovering over the buttons */
}

.button1:active {
  transform: scale(0.96);
}

.button2:active {
  transform: scale(0.96);
}

.button1,
.button2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-container2 {
  width: 30%;
  height: auto;
  float: left;
  padding-left: 100px;
  padding-top: 100px;
}

.landing2 {
  display: flex;
  width: 100%;
  height: 80vh;
}

.image-container2 img {
  width: 60%;
  /* Makes the image fill the container */
  height: auto;
  /* Maintains aspect ratio */

}

.landing2 .graphic-container,
.landing2 .image-container2 {
  flex-basis: 50%;
}

.graphic-container {
  margin: 0;
  padding-right: 100px;
  padding-top: 250px;
  text-align: right;
}

.graphic {
  font-weight: 300;
  margin: 0;
  text-align: left;
  padding-right: 150px;
}

h2 {
  font-family: 'Paytone One';
  color: #2a4ed8;
  font-size: 40px;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: left;
}


/* Landing 3 */


.image-container3 {
  width: 60%;
  /* Adjust width according to your needs */
  height: auto;
  /* Maintains aspect ratio */
  float: right;
  /* Aligns the image container to the left */
  padding-left: 100px;
  padding-top: 90px;
}

.landing3 {
  display: flex;
  width: 100%;
  height: 64vh;
}

.image-container3 img {
  width: 70%;
  /* Makes the image fill the container */
  height: auto;
  /* Maintains aspect ratio */


}

.landing3 .web-container,
.landing3 .image-container3 {
  flex-basis: 50%;
}

.web-container {
  margin: 0;
  padding-left: 100px;
  padding-top: 180px;
  text-align: left;
}

.web {
  font-weight: 300;
  margin: 0;
  text-align: left;
  padding-left: 0px;
}

h3 {
  font-family: 'Paytone One';
  color: #2a4ed8;
  font-size: 40px;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: left;
}



@media (max-width: 991px) {

  .mobile {
    display: initial;
  }

  .non-mobile {
    display: none;
  }

  .landing {
    flex-direction: column-reverse;
  }

  .intro-container {
    display: block;
  }

  .image-container img {
    width: 300px;
    margin-top: 75px;
  }

  .landing .intro-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 0;
    flex-grow: 6;
    flex-basis: 0;
    margin-top: 40px;
  }

  .landing .image-container {
    flex-grow: 4;
    flex-basis: 0;
  }

  h1 {
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
  }

  .welcome {
    padding-left: 28px;
    font-size: 15px;
    padding-right: 30px;
    text-align: center;
  }

  .intro-container .button-container {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px;

  }


  .intro-container .button-container .button1,
  .intro-container .button-container .button2 {
    width: 80%;
    margin: 0 auto;
  }

  .button1 {
    margin-top: 18px !important;
    margin-bottom: 4px !important;
  }

  .button2 {
    margin-top: 4px !important;
    margin-bottom: 0px !important;
  }

  .landing2 {
    flex-direction: column-reverse;
    flex-basis: 0% !important;
    height: auto;
  }

  h2 {
    font-size: 25px !important;
    padding-left: 40px !important;
    padding-right: 0px !important;
    padding-bottom: 10px !important;
    white-space: nowrap;

  }

  .graphic {
    padding-left: 40px;
    font-size: 15px;
    padding-left: 40px;
    font-size: 15px;
    text-align: center;
    padding-right: 40px;
  }

  .graphic-container {
    display: block;
    padding-top: 25px !important;
    padding-right: 0px;



  }

  .image-container2 {
    display: block;
    flex-grow: 4;
    flex-basis: 0;
    padding-left: 100px;
    padding-top: 0px;
  }

  .image-container2 img {
    width: 180px !important;
    /* add important to override other styles if any */
    margin-top: 0;
    padding-top: 25px;
  }

  .landing2 .graphic-container,
  .landing2 .image-container2 {
    flex-basis: 0%;
  }

  .landing3 {

    flex-direction: column;
    flex-basis: 0% !important;
    height: auto;
    padding-bottom: 30px;


  }

  h3 {
    font-size: 25px !important;
    padding-left: 0px !important;
    padding-right: 40px !important;
    padding-bottom: 10px !important;
    white-space: nowrap;

  }

  .web {
    padding-left: 40px;
    font-size: 15px;
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
    padding-right: 60px;
  }


  .web-container {
    display: block;
    padding-top: 35px !important;
    padding-right: 0px;
    padding-left: 35px;
    padding-bottom: -50px;


  }

  .image-container3 {
    display: block;
    flex-grow: 4;
    flex-basis: 0;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .image-container3 img {
    width: 180px !important;
    /* add important to override other styles if any */
    margin-top: 0;
    padding-top: 25px;


  }

  .landing3 .web-container,
  .landing .image-container2 {
    flex-basis: 0%;
  }

  .landing4 {
    flex-direction: column-reverse;
    flex-basis: 0% !important;
    height: auto;
  }

  h4 {
    font-size: 25px !important;
    padding-left: 0px !important;
    padding-right: 40px !important;
    padding-bottom: 10px !important;
    white-space: nowrap;
  }

  .visual {
    padding-left: 40px;
    font-size: 15px;
    text-align: center;
    padding-right: 60px;
  }

  .visual-container {
    display: block;
    padding-top: 35px !important;
    padding-right: 0px;
    padding-left: 35px;
    padding-bottom: -50px;
  }

  .image-container4 {
    display: block;
    flex-grow: 4;
    flex-basis: 0;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .image-container4 img {
    width: 150px !important;
    margin-left: 23px;
   
  }

  .landing4 .visual-container,
  .landing4 .image-container4 {
    flex-basis: 0%;
  }

  .landing4 {
    flex-direction: column-reverse;
    flex-basis: 0% !important;
    height: 60vh !important;
  }

  h4 {
    font-size: 25px !important;
    padding-left: 26px !important;
    padding-right: 40px !important;
    padding-bottom: 10px !important;
    white-space: nowrap;

  }

  .visual {
    padding-left: 40px;
    font-size: 15px;
    text-align: center;
    padding-left: 25px;
    padding-right: 75px !important;
  }

  .visual-container {
    display: block;
    padding-top: 44px !important;
    padding-right: 0px !important;
    padding-left: 35px;
    flex-basis: 0% !important;
  }

  .image-container4 {
    display: block;
    flex-grow: 4;
    flex-basis: 0;
    padding-left: 100px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 100px !important;
  }

  .image-container4 img {
    width: 150px !important;
    margin-top: 0;
    padding-top: 25px;

  }

  .landing4 .visual-container,
  .landing4 .image-container4 {
    flex-basis: 0%;
  }

}


/* landing 4 */

.landing4 {
  display: flex;
  width: 100%;
  height: 80vh;

}

.image-container4 img {
  width: 60%;
  /* Makes the image fill the container */
  height: auto;
  /* Maintains aspect ratio */
  vertical-align: middle;
}

.image-container4 {
  width: 30%;
  height: auto;
  float: left;
  padding-top: 0px;
  margin-right: 50px;
  padding-left: 160px;
}

.landing4 .visual-container,
.landing4 .image-container4 {
  flex-basis: 50%;
}

.visual-container {
  margin: 0;
  padding-right: 100px;
  padding-top: 300px;
  text-align: right;
}

.visual {
  font-weight: 300;
  margin: 0;
  text-align: left;
  padding-right: 150px;
}

h4 {
  font-family: 'Paytone One';
  color: #2a4ed8;
  font-size: 40px;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: left;
}



/*Footer*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c4ddf9;
  color: rgb(44, 44, 44);
  min-height: 300px;
  /* Changed this from 'height' to 'min-height' */
  padding: 20px;
  align-items: center;
}

.footerimg {
  padding-top: 30px;
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  /* Added this to center align in mobile view */
}

.footer ul li {
  display: inline;
  margin: 0 15px;
}

.footer a {
  color: rgb(44, 44, 44);
  text-decoration: none;
}

.footer a:hover {
  color: rgb(109, 108, 108);
}

.rights {
  text-align: center;
  font-size: 13px;
}

@media (max-width: 991px) {
  .footer ul li {
    display: block;
    margin: 10px 0;


  }

  .footer ul {
    padding-top: 20px;

  }

  .footerimg {
    display: none;
  }
  
}



