@tailwind base;
@tailwind components;
@tailwind utilities;

/* Position and sizing of burger button */
.bm-burger-button {
    width: 36px;
    height: 36px;
    position: relative;
    
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #4a4b4b;
  }
  

  .bm-menu-wrap {
    position: fixed;
    top: 0px;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    font-size: 1.15em;
    box-shadow:  4px 8px rgba(0, 0, 0, 0.1)
  }
  

